<h1 class="mb-5 display-4">Neues Projekt anlegen</h1>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="form-container input-group">
    <mat-form-field class="same-size">
      <mat-label>Projektname</mat-label>
      <input matInput formControlName="projectName" placeholder="Projektname">
    </mat-form-field>
    <mat-form-field class="same-size">
      <mat-label>Dateityp</mat-label>
      <mat-select formControlName="fileType">
        <mat-option value="xml">XML</mat-option>
        <mat-option value="docx">DOCX</mat-option>
        <mat-option value="txt">TXT</mat-option>
        <mat-option value="json">JSON</mat-option>
      </mat-select>
    </mat-form-field>
    <input hidden type="file" #fileInput (change)="onFileSelected($event)">
    <button mat-raised-button type="button" class="form-element same-size custom-btn" (click)="fileInput.click()">Datei Auswählen</button>
    <button mat-raised-button color="primary" class="form-element same-size custom-btn" type="submit">Upload</button>
  </div>
</form>
