<div class="row mt-5">
  <div class="col-12">
    <h1 class="mb-5 display-4">Projektliste</h1>
    <hr>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number" class="column-position">
          GUID
        </th>
        <td mat-cell *matCellDef="let element" class="column-position">{{ element.guid}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name" class="column-name">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="column-name">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef class="column-link"></th>
        <td mat-cell *matCellDef="let element" class="column-link">
          <button mat-button color="primary" (click)="onLinkClick(element)">Öffnen</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="column-delete"></th>
        <td mat-cell *matCellDef="let element" class="column-delete">
          <button mat-button color="warn" (click)="onDeleteClick(element)">Löschen</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="export">
        <th mat-header-cell *matHeaderCellDef class="column-export"></th>
        <td mat-cell *matCellDef="let element" class="column-export">
          <mat-form-field appearance="fill">
            <mat-label>Format wählen</mat-label>
            <mat-select (selectionChange)="onFormatChange($event, element)">
              <mat-option value="xml">XML</mat-option>
              <mat-option value="conll2003">CONLL2003</mat-option>
              <mat-option value="json">JSON</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button color="accent" (click)="onExportClick(element)">Exportieren</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <hr>
    <app-project-new></app-project-new>
</div>
</div>
