.same-size {
  height: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.custom-btn {
  border: none;
  outline: none;
}

.custom-btn:hover {
  opacity: 0.8;
}

h1 {
  font-size: 30px;
}
