<div class="row mt-5">
  <div class="col-12">
    <h1 class="mb-5 display-4">Annotationsservice</h1>
    <hr>
    <ngx-annotate-text
      [(annotations)]="annotations"
      [removable]="true"
      [text]="mainObject.text"
      annotationClass="my-annotation"
      (clickAnnotation)="onClickAnnotation($event)"
      (removeAnnotation)="onRemoveAnnotation($event)"
      #annotateText
    >
    </ngx-annotate-text>
    <hr>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <button
      *ngFor="let button of annotationButtons"
      type="button"
      class="btn custom-btn same-size me-2"
      [style.background-color]="button.color"
      (click)="addAnnotation(button.label, button.color)"
      (contextmenu)="removeAnnotationButton(button.label, button.color, $event)"
    >
      {{button.label}}
    </button>
    <div class="input-group">
      <input type="color" [(ngModel)]="newAnnotationColor" placeholder="Farbe" class="same-size">
      <input type="text" [(ngModel)]="newAnnotationLabel" placeholder="Name" class="same-size">
      <button
        type="button"
        class="btn btn-outline-secondary same-size me-2"
        (click)="addAnnotation(newAnnotationLabel, newAnnotationColor)"
      >
        Annotation hinzufügen
      </button>
    </div>
    <!-- Save Button -->
    <button
      type="button"
      class="btn btn-outline-success same-size me-2 mt-2"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</div>
