<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <button mat-raised-button class="sidenav-button">Projektliste</button>
    <button mat-raised-button class="sidenav-button">Annotation</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-annotation-page></app-annotation-page>
    <hr>
    <app-project-list-page></app-project-list-page>
  </mat-sidenav-content>
</mat-sidenav-container>
