::ng-deep .my-annotation .annotation-parent,
::ng-deep .my-annotation .annotation-content {
  border-radius: 0rem !important;
}
.example-container {
  height: 100%;
  position: relative;
}
.sidenav-container {
  height: 100%;
  position: relative;
}
.sidenav-button {
  display: block;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.sidenav-button:hover {
  background-color: #45a049;
}

.sidenav-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

